* {
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 50px;
}

body {
  min-height: 100svh;
}

.img-container {
  border: solid, 10px, black;
  height: 180px;
  margin-top: 40px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.card-container {
  border: solid, 1px, black;
  background-color: rgb(41, 86, 69);
  color: #ececec;
  display: flex;
  flex-direction: row;
  max-width: 500px;
}

.detail-container {
  padding: 30px;
}

.card-details {
  display: flex;
  text-align: center;
  gap: 40px;
  margin-block: 20px;
}

.label,
.occupation {
  color: rgb(219, 68, 219);
}
